<header>
  <h1>Lovin’ Oven Bakery</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/customers">Customers</a></li>
      <li><a href="/orders">Orders</a></li>
      <li><a href="/employees">Employees</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
  </nav>
</header>
