<div class="home-page">
  <h1 class="title">Project Overview</h1>
  
  <div class="description-box">
    <p>The Lovin’ Oven is a local bakery located in Stayton, OR, specializing in cakes, cheesecakes, and cookies/bars.
       They supply several restaurants and make the cakes for Gerry Frank’s Konditorei, the most popular dessert shop in Salem.
       They make around 8,000 sales per week.
       The products are available by the slice for purchase in the shop, and they also take wholesale orders by phone.
       Although the shop has a website that lists the cakes available for order, it currently does not support online ordering or a database to keep track of orders made by phone.</p>
    <p>Our database-driven website will keep track of customers, orders, available products, and the employees (bakers) responsible for fulfilling each order.
       This platform will provide the backend functionality needed by a bakery like Lovin’ Oven to manage and process online and phone wholesale orders efficiently.</p>
  </div>
</div>
